@import url('/Inter/Inter.css');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}
input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
}
html{
  direction: rtl;
}